<div class="dialog-space">
  <p class="title-dialog">Add Product</p>
  <div class="section-add-product">
    <div class="section-pickimage">
      <img [src]="url" alt="" class="displayimg">
      <label class="label" for="pickfile"><i class="fa-regular fa-image"></i> Chose a pictue</label>
      <input id="pickfile" (change)="onSelectFile($event)" type="file" class="pickimg">
    </div>
    <div class="section-info">
      <form class="example-form form" [formGroup]="FormAddProduct">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tên sản phâm</mat-label>
          <input type="text" matInput placeholder="Nhập tên sản phẩm.." formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mô tả</mat-label>
          <input type="text" matInput placeholder="Mô tả sản phẩm..." formControlName="description">
        </mat-form-field>



        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Số lượng có sẵn</mat-label>
          <input type="text" matInput placeholder="Số lượng có sẵn..." formControlName="quantityAvailable">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Giá</mat-label>
          <input type="text" matInput placeholder="Giá..." formControlName="price">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Kích cỡ</mat-label>
          <input type="text" matInput placeholder="Cỡ sản phẩm..." formControlName="size">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nhãn hàng</mat-label>
          <input type="text" matInput placeholder="Nhãn hàng sản phẩm..." formControlName="brand">
        </mat-form-field>

        <div class="chosecategory">
          <span>Thể loại sản phẩm</span>
          <div class="listcategory">
            <div class="" *ngFor="let c of ListCategory">
              <input type="checkbox" formArrayName="categoryIDs" [value]="c.categoryID" [id]="c.categoryID" (change)="onSelect($event)">
              <label class="ml-3" [for]="c.categoryID">{{c.name}}</label>
            </div>
          </div>
        </div>

        <div class="chosecategory">
          <span>Kiểu sản phẩm</span>
          <div class="listcategory">
            <div class="" *ngFor="let c of ListTypeProduct">
              <input type="radio" name="chosetype"  formArrayName="typeProductID" [value]="c.id" [id]="c.id" (change)="onSelectTypeProduct($event)">
              <label class="ml-3" [for]="c.id">{{c.name}}</label>
            </div>
          </div>
        </div>

        <button class="btn-login" (click)="HandleAddProduct()">ADD</button>
      </form>
    </div>
  </div>
</div>
