.layout{
  @apply p-5 w-full h-full;
  .inside-layout{
    @apply w-full h-full p-5;
    border-radius: 8px;
    background-color: #2d3436;
    .header{
      text-align: center;
      font-size: 24px;
      color: #dfe6e9;
    }
    .content-revenue{
      @apply p-5 mt-12;
      width: 50%;
      border-radius: 8px;
      background-color: #dfe6e9;
      color: #2d3436;
      .info-revenue{
        .dotline{
          color: #2d3436;
          padding-right: 4px;
        }
      }
    }
    .ratio-revenue{
      @apply w-full p-5 mt-12;
      border-radius: 8px;
      background-color: #dfe6e9;
      color: #2d3436;
      min-height: 350px;

    }
  }
}
